*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-image:url('https://images.unsplash.com/photo-1715276611617-21d4395134f1?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(3px); */
  

}


.main{
    height: 100%;
    width: 100%;
    position: relative;
}
.main .shape {
    height: 35vh;
    width: 100vw;
    /* background: #000; */
}

.main  .shape .shape-1{
    height: 25vh;
    width: 15vw;
    background:rgba(80, 132, 209, 0.336); 
    border-radius: 60%;
   
}

.main .content{
    background-color: rgba(20, 18, 18, 0.61);
    position: absolute;
    height: 60vh;
    width: 60vw;
    color: whitesmoke;
    text-align: center;
    left: 21%;
    bottom: 10%;


}
.main .content .shape {
    height: 20vh;
    width: 100vw;
    background: #000;
}

.main .content .shape .shape-1{
    height: 10vh;
    width: 20vw;
    background: #5f5353;
}

.main .content-2{
    background-color: rgba(20, 18, 18, 0.61);
    position: absolute;
    height: 35vh;
    width: 55vw;
    margin-left: 31px;
    margin-top: 20px;
    
}